/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/.phpunit.cache
/.phpunit.result.cache
/.env
/.env.backup
/.env.production
/.idea
/.fleet
/.zed
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
pids
*.log
